html{
    width: 100%;
    overflow-x: hidden;
    font-family: "Nunito", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 5;
    height: 4rem;
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
#logo-col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-right: solid #E0E0E0 1px;
}
#sidebar-logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}
.logo {
    height: 10rem;
    width: 6rem;
}
#ulMain {
    display: flex;
    position: relative;
    height: 4rem;
    font-weight: lighter;
}
#topMenu ul {
    height: 4rem;
    margin: 0;
}
#topMenu ul li {
    list-style: none;
    display: inline-block;
}

#topMenu ul li a {
    display: block;
    padding: 0 1.5rem;
    text-decoration: none;
    line-height: 4rem;
}

#topMenu ul li a:hover {
    opacity: 1;
}
#topMenu ul ul li {
    display: block;
}
#topMenu ul ul {
    display: none;
}
#topMenu ul li:hover>ul {
    position: relative;
    z-index: 50;
    width: 9rem;
    height: auto;
    background-color: #303030;
    color: white;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:center ;
    padding: 0%;

}

#topMenu ul li ul li a {
    right: 10%;
    width: 10rem;
    color: lightgray;
    font-weight: lighter;
    opacity: 0.7;
    font-family: 'Radio Canada', sans-serif;
}
.arrow-icon {
    position: relative;
    background-color: #E9EBFD;
    color: black;
    border-radius: 5px;
    opacity: 0.5;
    border: 2px black;
    top: .5rem;
    left: 10%;
}

.headerLinkStyle {
    color: #777777;
    font-family: 'Radio Canada', sans-serif;
}

.headerLinkStyle:hover {
    color: #2A41EC;
}

.headerLinkStyle:hover .arrow-icon {
    color: #2A41EC;
    background-color: #E9EBFD;
    opacity: 1;
}
 
.arrow {
    position: absolute;
    top: -1rem;
    left: 15%;
    width: 0;
    height: 0;
    border-width: .5rem;
    border-style: solid;
    border-color: #303030;
    border-top-color: transparent;
    border-bottom-color: #303030;
    border-left-color: transparent;
    border-right-color: transparent;
}
#login-col{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid #E0E0E0 0.1rem;
}
#loginSection{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Radio Canada', sans-serif;
}
#barIcon{
    display: none;
    margin-left: 1rem;
}
#loginSection a{
    text-decoration: none;
    color: #777777;
}
#loginSection :hover{
    color: #2A41EC;
}
/*SIDE BAR*/
#sidebarnav{
    position: absolute;
    background-color: #2A2A2A;
    width: 100%;
    max-width: 45%;
    height: 100vh;
    padding: 0%;
    z-index: 10;
}
#sidebarTitle{
    height: 100%;
    align-items: center;
    padding: 0%;
    margin: 0%;
    border-bottom: #E0E0E0 solid .1rem;
}
#sidebarul{
    position: relative;
    color: white;
}
#sidebarul li{
    list-style: none;
    border-bottom: lightgray solid .1rem;
    line-height: 4rem;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    padding-left: 1rem;
}
/*Banner*/
.introBanner{
    background-image: url("../Images/introBanner1.jpeg");
    height: 600px;
    width: 100%;
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    align-items: center;
}
.banner-headline{
    position: relative;
    left: 2rem;
    display: block;
    margin-bottom:2%;
}

.banner-headline h3 {
    font-size: 2em;
    font-weight: 300;
    color: #777;
    line-height: 2.5rem;
}
#search-bar{
    position: relative;
    padding:0% ;
    height: 4rem;
    left: 2rem;
    margin-bottom: 4rem;
    width: 100%;
}
#job-count
{
    max-width: 100%;
    position: relative;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.banner-list-item
{
    border: none !important;
    background-color: transparent !important;
    border-right:.1rem solid lightgray !important ;
    justify-content: center;
    align-items: center;
}
.border-left{
    border-left:.1rem solid lightgray !important ;
    
}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
}
#small-searchbar{
    display: none;
    width: 90%;
}
#badge1-color{
    background-color: #2A41E8 !important;
}
#badge2-color{
    background-color: #2A41E8 !important;
}
  /*End Banner*/

/*Registration - Login*/

#reg-container{
    position: fixed;
    padding-bottom: 2%;
    top: 10%;
    left: 0%;
    right: 0%;
    z-index:6;
    height: auto;
    padding-bottom: 2%;
    width: 35%;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: .5rem .5rem 0.5rem rgba(0, 0, 0, 0.5);
}

#user-select{
    position: relative;
    top: 2%;
    padding-bottom: 2%;
    margin: 0%;
    border-bottom: .1rem lightgray solid;
}
#login-reg-form{
    margin-top: 1%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome-text{
    position: relative;
    top: 5%;
    text-align: center;
}
#welcome-text span{
    color: #666;
}
#welcome-text h3{
    font-size: 1.5rem;
}
#welcome-text a{
    text-decoration: none;
}
#login-form{
    margin-top: 5%;
    width: 90%;
}
#user-button{
    background-color: #47BB67 ;
    color: white;
}

#form-type-button{
    color: #0B5ED7;
    background-color: white;
    font-weight: bolder;
    box-shadow: none;
}
.default-from-type-button:hover
{
    background-color: #0B5ED7 !important;
    color: white !important;
}

.user-button-defualt
{
    margin: 0.5rem;
    border-radius: .5rem;
    height: 80%;
}
.user-button-defualt:hover
{
    background-color: #E4F6E9 !important;
    color: #47BB67 !important;
}

/*Reg  End*/

/*Employeer*/
.Employeer-introBanner
{
    display: flex;
    align-items: center;
    background-image: url("../Images/home-background-02.jpg");
    height: 600px;
    width: 100%;
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    object-fit: cover;
  
}
#background-dark{
    position: absolute;
    background: #333;
    width: 100vw;
    height: 600px;
    opacity: 0.75;
   
}
#userAvatar{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
 
}
#profile-popup{
    position: relative;
    background-color:  #303030;
    color: white;
    border-radius: 0.5rem;
}
#profile-popup ul{
    list-style: none;
    padding: 0%;
    line-height: 1.5rem;
}
#profile-popup ul li{
    border-bottom: white solid .1em;
    display: block;
    width: 10em;
}
#profile-popup :hover{
    color: white;
}
.list-freelancer-form{
}
#FindProject{
    position: relative;
    padding-top: 5rem;
}
.list-freelancer-form h3{  
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    color: #333;
    font-weight: 400;
  
}
#free-list-button{
    display: flex;
    justify-content: center;
}
#free-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#single-freelancer{
    background-image: url("../Images/single-freelancer.jpg");
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 250px;
}
#background-white{
    display: flex;
    align-items: center;
    background: linear-gradient(to right,rgba(247,247,247,1) 50%,rgba(247,247,247,0.8) 70%,rgba(247,247,247,0.8) 90%);
    width: 100vw;
    height: 250px;
    padding-left: 6%;
}
#big-avatar{
    border-radius: 100%;
    height: 65%;
    width: 65%;
    min-height: 40%;
    min-width: 40%;
    border: 1px solid lightgray;
}
#single-free-name h3{
   font-weight: 400;
}
#single-free-name h4{
    font-weight: 400;
 }
 #star i{
    padding: 0%;
    margin: 0%;
 }
 #free-aboutme{
     margin-left: 10%;
     margin-top: 5%;
 }
 #free-job-details{ 
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.skill-badge{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color:  #F0F2FD !important;
    color: #0B5ED7;
    border-radius: 5%;
    margin: 1%;
    width: 30%;
}
#makeanoffer{
    margin-top: 10%;
}
#dashboardSidebar
{
    position: fixed;
    top: 4rem;
    float: left;
    height: 100vh;
    width: 20%;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
    padding: 0%;
}
#dashboardSidebar li 
{
  border: none;
  display: block;
}
#dashboardSidebar li:hover
{
  color: #0B5ED7;
  background-color: #F7F8FE;
}
#dashboard-topnav {
    position: fixed;
    background-color: #333333;
    border-radius: 10px;
    display: none;
    margin-top: 4.5rem;
    width: 98%;
    z-index: 4;
}
#postproject-form {
    margin-top: 5%;
    padding: 10%;
    background-color: white;
}
.flex-box{
    margin-left: auto;
    margin-right: auto;
}
.display-flex{
    display: flex !important;
    justify-content: center !important;
}
#single-task{
    display: flex ;
    align-items: center;
    background-image: url("../Images/single-task.jpg");
    background-position: inherit;
    background-size:cover ;
    background-repeat: repeat;
    object-fit: cover;
    height: 250px;
}
#single-task-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: white;
    width: auto;
    height: 150px;
    left: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    text-align: center;
    padding: 5%;
}
#single-task-name h3{
    font-weight: 400;
    font-size: 2rem;

 }
 #single-task-name h4{
     font-weight: 400;
  }
  #attachment-span{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aliceblue;
      width: 20%;
      height: 100px;
      border-radius: 5px;
  }
  #attachment-span:hover{
    background-color: #E0E0E0;
}
#days-left{
    background-color: #E7F8EC;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #4CA358;
}
#budget{
    background-color: #F0F0F0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
#bid-form{
    height: 400px;
    background-color: #F9F9F9;    
}
#bid-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    height: 15%;
}
#bid-controls{
    margin-bottom: 40%;
}
#task-list{
    display: flex;
    flex-wrap: wrap;
}
#post-project-form{
float: right ;
width: 80%;
background-color: #FAFAFA;
box-shadow: -5px -23px 30px 6px rgba(0,0,0,0.09);
-webkit-box-shadow: -5px -23px 30px 6px rgba(0,0,0,0.09);
-moz-box-shadow: -5px -23px 30px 6px rgba(0,0,0,0.09);
}
#budget-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#filter-form{
    position: sticky;
    bottom: 0%;
    top: 15%;
    left: 0%;
    right: 0%;
        box-shadow: -5px -23px 30px 6px rgba(0, 0, 0, 0.09);
        -webkit-box-shadow: -5px -23px 30px 6px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: -5px -23px 30px 6px rgba(0, 0, 0, 0.09);
    height: 30rem;
    border-radius: 0.2rem;
}
/*End*/


/*Footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 100%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 10px;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	background-color: white;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}




/*End Footer*/

/*City card*/
#city-contaner{
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#city-main{
    display: flex;
    background-color: red ;
}
#city{
   margin-top: 5%;
   margin-bottom: 5%;
}
.city-toast{
    width: 20rem !important;
    height: 25rem;
    margin: 10px;
    
}
#cityOne{
    background-image: url("../Images/featured-city-01.jpg");
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    object-fit: cover;
}

#cityTwo{
    background-image: url("../Images/featured-city-02.jpg");
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    object-fit: cover;
}
#cityThree{
    background-image: url("../Images/featured-city-03.jpg");
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    object-fit: cover;
}
#cityFour{
    background-image: url("../Images/featured-city-04.jpg");
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    object-fit: cover;
}
/*City Card End*/










 /*Media starts*/ 
@media (max-width:1125px) {
    #sidebarnav{
          max-width: 45%;
    }
    html{
        overflow-x: hidden;
    }
    #ulMain{
        display: none;
    }
    #loginSection{
        border: none;
    }
    #loginText{
        display: none;
    }
    #login-col{border: none;}
    #barIcon{
       display: inline-block;
    }
    #logo-col{
        border: none;
    }
    #search-bar{
        display: none;
    }
    .banner-headline{
       max-width: 90%;
       left: 0%;
    }
    .banner-headline h3 {
        font-size: 1.6em;
    }
    #banner-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 5%;
        right: 2%;
    }
    .Employeer-introBanner{
     
    }
    #banner-content-employer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #job-count{
        display: none;
    }
    #small-searchbar{
        position: relative;
        left: 0%;
        right: 5%;
        display: block;
        max-width: 100%;
    }
    #reg-container{
        top:10%;
        width: 95%;
        height: auto;
    }
    #login-reg-form{
        position: relative;
    }
    #userAvatar{
        top: 0%;
    }
    .hide-in-small-screen{
        display: none;
    }
    #profile-popup{
        position: relative;
        top: 100%;
    }
    #filter-form{
        min-width: 100%;
    }
    #list-freelancer{
        min-width: 100%;
    }
    .text-align-center{
        text-align: center;
    }
    
    #free-list-button{
        width: 100%;
    }
    #free-name{
        padding-left: 5%;
        min-width: 90%;
    }
    #background-white{
        margin-left: 0%;
    }
    #free-aboutme{
        width: 100%;
        margin-left: 0%;
    }
    #makeanoffer{
        margin-top: 10%;
    }
    #big-avatar{
       background-color: #0B5ED7;
       width: 100px;
       height: 100px;
    }
    #profile-section{
        position: relative;
        bottom: 20%;
        left: -3%;
    }
    #single-free-name{
        position: relative;
        width: 100%;
        left: -20%;
        top: 30%;
    }
    #dashboard-topnav{
        display: block;
    }
    #form-col{
      width: 100%;
    }
    .width-full{
        width: 100% !important;
    }
    #task-list{
        display: block;
    }
    #task-card{
        width: 100% !important;
    }
    #post-project-form{
        width: 100%;
    }
   
}
/*Media Ends*/