html{
    width: 100%;
  
}
body{
}
header {
    z-index: 1;
    position: sticky !important;
    top: 0%;
    height: 80px;
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
#topMenu {
  height: 100%;
}
#logosection{
    position: relative;
    display: inline-block;
    width: auto;
    height: 80px;
    border-right: solid #E0E0E0 1px;
    padding-right: 20%;
}
.logo {
    position: relative;
    left: 10%;
    top: 25%;
    width: auto;
    max-width: 100px;
}
#ulMain {
    display: flex;
    position: relative;
    top:15%;
    height: 50px;
    font-weight: lighter;
    opacity: 1;
    font-size: 1px;
}
#topMenu ul {
    height: 80px;
    margin: 0;
}
#topMenu ul li {
    list-style: none;
    display: inline-block;
}

#topMenu ul li a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    line-height: 60px;
    font-size: 16px;
}

#topMenu ul li a:hover {
    opacity: 1;
}
#topMenu ul ul li {
    position: relative;
    display: block;
}
#topMenu ul ul {
    position: relative;
    width: 80%;
    display: none;
}
#topMenu ul li:hover>ul {
    position: relative;
    left: 14%;
    height: auto;
    background-color: #303030;
    color: white;
    border-radius: 5px;
    display: block;
}

#topMenu ul li ul li a {
    position: relative;
    right: 15%;
    color: lightgray;
    font-weight: lighter;
    opacity: 0.7;
    font-family: 'Radio Canada', sans-serif;
}
.arrow-icon {
    position: relative;
    background-color: #E9EBFD;
    color: black;
    border-radius: 5px;
    opacity: 0.5;
    border: 2px black;
    top: 5px;
    left: 10%;
}

.headerLinkStyle {
    color: #777777;
    font-family: 'Radio Canada', sans-serif;
}

.headerLinkStyle:hover {
    color: #2A41EC;
}

.headerLinkStyle:hover .arrow-icon {
    color: #2A41EC;
    background-color: #E9EBFD;
    opacity: 1;
}
 
.arrow {
    position: absolute;
    top: -15px;
    left: 15%;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-color: #303030;
    border-top-color: transparent;
    border-bottom-color: #303030;
    border-left-color: transparent;
    border-right-color: transparent;
}
#loginSection{
    position: absolute;
    height: 75px;
    top: 5%;
    text-decoration: none;
    font-family: 'Radio Canada', sans-serif;
    border-left: solid #E0E0E0 1px;
    padding-left: 1%;
    padding-right: 2%;
}
#loginSection a{
    position: relative;
    text-decoration: none;
    color: #777777;
    top: 25%;
}
#barIcon{
    position: relative;
    visibility: hidden;
}
/*SIDE BAR*/
#sidebarnav{
    position: relative;
    background-color: #2A2A2A;
    width: 400px;
    max-width: 45%;
    height: 100vh;
    float: left;
    padding: 0%;
    z-index: 2;
}
#sidebarTitle{
    color: white;
    background-color: #2A2A2A;
    height: 80px;
    align-items: center;
    padding: 0%;
    margin: 0%;
    justify-content: center;
    border-bottom: #E0E0E0 solid 1px;
}
#sidebarul{
    position: relative;
    right: 0%;
    color: white;
    padding: 0%;
    margin: -5%;
}
#sidebarul li{
    position: relative;
    top: 5%;
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: lightgray solid 1px;
    line-height: 60px;
    width: 100%;
}
/*Banner*/
.introBanner{
    position: relative;
    background-image: url("../Images/introBanner1.jpeg");
    height: 500px;
    width: 100%;
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    object-fit: cover;
    
}
#banner-content{
    position: relative;
    top: 10%;
}
.banner-headline{
    position: relative;
    left: 5%;
    display: block;
    max-width: 60%;
    margin-bottom:2%;
}

.banner-headline h3 {
    font-size: 28px;
    font-weight: 300;
    color: #777;
    line-height: 42px;
}
#search-bar{
    position: relative;
    padding:0% ;
    max-width: 60%;
    height: 55px;
    left: 5%;
    margin-bottom: 50px;
}
#job-count
{
    position: relative;
    max-width: 20%;
    position: relative;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.banner-list-item
{
    border: none !important;
    background-color: transparent !important;
    border-right:1px solid lightgray !important ;
    justify-content: center;
    align-items: center;

}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

  /*End Banner*/

 /*Media starts*/ 
@media (max-width:1125px) {

    html{
        overflow-x: hidden;
    }


    #ulMain{
        display: none;
    }
    #loginSection{
        right: 10%;
        border: none;
    }
    #loginText{
        display: none;
    }
    #barIcon{
        visibility: visible !important;
        top: 0%;
        left: 50%;
    }
    #logosection{
        border: none;
    }
    #search-bar{
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
    }
    .banner-headline{
       max-width: 90%;
    }
    .banner-headline h3 {
        font-size: 1.5em;
    }
    #banner-content{
        position: relative;
        top: 5%;
    }
    #job-count{
        display: none;
    }
}
/*Media Ends*/